 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-ruby-plain"></i>
      <p><b>Ruby</b>: <i>intermediate</i></p>
      <i class="devicon-javascript-plain"></i>
      <p><b>Javascript</b>: <i>beginner</i></p>
      <i class="devicon-rust-plain"></i>
      <p><b>Rust</b>: <i>beginner</i></p>
    </div>
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain"></i>
      <p><b>HTML5</b>: <i>beginner</i></p>
      <i class="devicon-css3-plain"></i>
      <p><b>CSS3</b>: <i>beginner</i></p>
      <i class="devicon-inkscape-plain"></i>
      <p><b>Inkscape</b>: <i>beginner</i></p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <p><b>Git</b>: <i>beginner</i></p>
      <!-- <i class="devicon-linux-plain"></i> -->
      <i class="devicon-vim-plain"></i>
      <p><b>Vim</b>: <i>beginner</i></p>
      <i class="devicon-bash-plain"></i>
      <p><b>Bash</b>: <i>beginner</i></p>
    </div>
</div>
