<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <!-- <a aria-label="Send email" href="mailto:..."><i class="icon fa fa-envelope"></i></a> -->
        <a aria-label="My Github" target="_blank" href="https://github.com/loreandstory">
          <i class="icon fa fa-github-alt" aria-hidden="true"></i>
        </a>
        <!-- <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/loreandstory">
          <i class="icon fa fa-linkedin" aria-hidden="true"></i>
        </a> -->
        <a aria-label="Free Code Camp" target="_blank" href="https://www.freecodecamp.org/jnm19">
          <i class="icon fa" aria-hidden="true">{% include free-code-camp-custom.svg %}</i>
        </a>
        <a aria-label="HackerRank" target="_blank" href="https://www.hackerrank.com/loreandstory">
          <i class="icon fa" aria-hidden="true">{% include hackerrank-custom.svg %}</i>
        </a>
        <a aria-label="CodeWars" target="_blank" href="https://www.codewars.com/users/loreandstory">
          <i class="icon fa" aria-hidden="true">{% include codewars-custom.svg %}</i>
        </a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
