<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/tic-tac-toe.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Tic-Tac-Toe </h3>
    <p> Requires:</p>
    <ul>
      <li> Ruby v2.5.5 or higher</li>
      <li> tput</li>
    </ul>
    <p>tic-tac-toe is a simple terminal tic tac toe game with a colorized interface, where the player competes against the computer. Pieces left to play, wins, loses, and ties are tracked.</p>

    <p>Who makes the first play is decided at random at the beginning of each round. You may choose to play as many rounds as you like.</p>
    <a class="project-link" href="https://github.com/loreandstory/tic-tac-toe">Check it out on Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/twenty-one.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Twenty-One </h3>
    <p> Requires:</p>
    <ul>
      <li> Ruby v2.5.5 or higher</li>
    </ul>
    <p>Twenty-One is a simple terminal Twenty One card game (<a href="https://ourpastimes.com/21-card-game-rules-6735219.html">click here to learn the rules of Twenty One</a>) with a colorized interface, where the player competes against the dealer (computer).</p>

    <p>Hits are colorized, and cards in the player's hand are sorted by value. Wins, loses, and ties are also tracked.</p>
    <a class="project-link" href="https://github.com/loreandstory/twenty-one">Check it out on Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/coder.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Coder SVG </h3>
    <p> Made from scratch with: </p>
    <ul>
      <li> Inkscape SVG Editor </li>
    </ul>
    <a class="project-link" href="/assets/img/optomized_coders.svg" download>Download SVG</a>
  </div>
</div>
